<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xmu.software.mapper.CountryMapper">

    <select id="getAll" resultType="Country">
        select * from country order by date
    </select>

    <select id="getNewest" resultType="Country">
        select * from country where date=(
select MAX(date) from country
)
    </select>
    <select id="getMap" resultType="MapChart">
       SELECT DISTINCT provinceName,province_confirm FROM province
GROUP BY provinceName
    </select>
</mapper>
